<div class="faq_wrapper">
  <h1>FAQ</h1>
  <tui-accordion class="container">
    <tui-accordion-item>
      Как добавить праздник?
      <ng-template tuiAccordionItemContent>
        Главное меню внизу экрана - создать праздник
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
      Как создать подарок?
      <ng-template tuiAccordionItemContent>
        <div #content>
          Свайп влево - значок глаза - можно посмотреть список подарков и там же
          создать новый подарок.
        </div>
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
      Как забронировать подарок?
      <ng-template tuiAccordionItemContent>
        Для этого вам необходимо получить ссылку от челолвека который пригласил
        вас на праздник. Если вы не зарегестрированы в боте то сначала
        необходимо нажать кнопку старт, а далее перейти по ссылке
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
      С кем я могу расшарить?
      <ng-template tuiAccordionItemContent>
        Вы можете расшарить ваш подарок среди друзей в телеграме.
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
      Можно ли расшарить вне телеграм?
      <ng-template tuiAccordionItemContent>
        Пока эта функция доступна только в телеграме. В дальнейшем мы сделаем
        шейринг для других пользователей
      </ng-template>
    </tui-accordion-item>
    <tui-accordion-item>
      Как удалить подарок или праздник который создали не вы?
      <ng-template tuiAccordionItemContent>
        Удалить праздник или подарок, созданный не вами - нельзя.
      </ng-template>
    </tui-accordion-item>
  </tui-accordion>
</div>
