<div class="error_wrapper">
  <div class="error_wrapper__text">
    <h1>Произошла ошибка</h1>
    <h3>Почему вы попали на эту страницу</h3>
    <hr />
    <ul>
      <li>
        Возможно вы попытались зайти на сайт не через телеграм. Приносим свои
        извинения т.к. версия на данный момент не поддерживает сайты вне
        телеграм. В скором времени мы исправим это
      </li>
      <li>
        Возможно вы хотели попасть на страницу, не предназначенную для вас.
      </li>
      <li>
        Если же вы считаете, что попали на эту страницу по ошибке - напишите
        пожалуйста нам -

        <a href="https://t.me/whishlist_bot">Написать</a>
      </li>
    </ul>
  </div>
</div>
